/* Backbone CSS for Resume Template 1 */

/* Basic */

#resume-preview [data-scope="vue-smart-pages"][data-part="page"] {
  background-color: white;
  color: black;
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#resume-preview p,
#resume-preview li,
#resume-preview dl {
  margin: 0;
}

/* Headings */

#resume-preview h1,
#resume-preview h2,
#resume-preview h3 {
  font-weight: bold;
}

#resume-preview h1 {
  font-size: 2.13em;
}

#resume-preview h2,
#resume-preview h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

#resume-preview h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* Lists */

#resume-preview ul,
#resume-preview ol {
  padding-left: 1.5em;
  margin: 0.2em 0;
}

#resume-preview ul {
  list-style-type: circle;
}

#resume-preview ol {
  list-style-type: decimal;
}

/* Definition Lists */

#resume-preview dl {
  display: flex;
}

#resume-preview dl dt,
#resume-preview dl dd:not(:last-child) {
  flex: 1;
}

/* Tex */

#resume-preview :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

/* SVG & Images */

#resume-preview svg.iconify {
  vertical-align: -0.2em;
}

#resume-preview img {
  max-width: 100%;
}

/* Header */

#resume-preview .resume-header {
  text-align: center;
}

#resume-preview .resume-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

#resume-preview .resume-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */

#resume-preview [data-scope="cross-ref"][data-part="definitions"] {
  padding-left: 1.2em;
}

#resume-preview [data-scope="cross-ref"][data-part="definition"] p {
  margin-left: 0.5em;
}

#resume-preview [data-scope="cross-ref"][data-part="definition"]::marker {
  content: attr(data-label);
}

#resume-preview [data-scope="cross-ref"][data-part="reference"] {
  font-size: 100%;
  top: 0;
}

/* Dark & print mode */
/* You might want to comment out the following lines if you change the background or text color. */

.dark #resume-preview [data-scope="vue-smart-pages"][data-part="page"] {
  background-color: hsl(213, 12%, 15%);
  color: hsl(216, 12%, 84%);
}

@media print {
  .dark #resume-preview [data-scope="vue-smart-pages"][data-part="page"] {
    background-color: white;
    color: black;
  }
}


.timeline-wrapper {
  position: relative;
  height: 40px;
  margin: 0,5rem 0;
}

.timeline-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  transform: translateY(-50%);
}

.timeline-highlight {
  position: absolute;
  top: 50%;
  height: 1px;
  background: #43912b;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 2px;
}

.timeline-dot {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #43912b;
  border: 0px solid #43912b;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 2;
}

.timeline-dot::after {
  content: attr(data-label);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #555;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.timeline-dot:hover::after {
  opacity: 1;
}


.skill {
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
  font-size: 0.9rem;
  line-height: 8px;
  height: 8px;
  margin-left: 0.4rem;
  position: relative;
  padding-left: 6px; /* spazio per la barra */
}

.skill::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3px;
  border-radius: 0px;
}

.full::before {
  height: 12px;
  background-color: #539956;
}

.medium::before {
  height: 10.5px;
  background-color: #a2d446;
}

.low::before {
  height: 9px;
  background-color: #ffc164;
}
